body {
	background-color: white;
	margin: 0;
	overflow:hidden;
}

.top_menu{/*pentru meniul din patrtea de sus*/
/*pt ca daca lasam ul o sa suprascrie stilul de la selecturile faacute cu frameworkul select2*/
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
	text-align: center;
}
.top_menu li{
	float: center;
	display: inline-block;
}
.top_menu li:nth-of-type(4){
	float: right;
}
.top_menu li a{
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;

}

.top_menu li:hover{
	background-color: #00520c;
}
#l_menu{
	width: 20%;
	min-width: 10%;
	max-width: 55%;
	position: absolute;
	border: solid 2px white;
	height: calc(100% - 48.400px);
	background-color: #000000;
	color : white;
	display:inline-block;
}

#workspace{
	width: 80%;
	min-width: 45%;
	max-width: 90%;
	position: absolute;
	right: 0;
	height: calc(100% - 48.400px);
	background-color: whitesmoke;
	display:inline-block;
}

.a1{
	padding: 12px 6px;
    border: solid 2px white;
    height: 25px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.data{
	font-size: 12px;
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
}
.a1:hover{
	background-color: #00520c
}

.positiones1{

	background-image: url(../images/accept.png);
	text-align: center;
	width: calc(50%);
	height: calc(5%);
	padding-left: 30px;
	background-size: 15%;
	background-repeat: no-repeat;
}

.line{
	padding: 14px 0px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {/*customizare inputuri*/
    border: solid #bcbebf 1px;
    text-align: center;
    font-size: 12px;
    border-radius: 6px;
    padding: 8px 10px;
}

#scroll_container{/*face workspaceul scrolabil atunci când trebuie*/
	width: 100%;
	height: 100%;
	overflow-y: auto;
	border: solid 2px white;
	text-align: center;
	color: white;
	background-color: #2d2626;
}
#dropstyle{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#dropdownstyle1{
	position: relative;
	bottom: 0;
	width:50%;
}#dropdownstyle2{
	position: relative;
	bottom: 0;
	width:50%;
}
#scroll_container_nume{
	font-size: x-large;
	padding: 30px;
	position: relative;
}
#scroll_container_deadline, #scroll_container_time{
	padding-left: 15px;
	position: relative;
	text-align: left;
}
#scroll_container_time{
	margin-bottom: 50px;
}
#scroll_container_descriere, #scroll_container_sugestii{
	margin: 15px 0;
	width: 100%;
	text-align: center;
	border: solid 2px #2d2626;
	background-color: black;
	word-wrap: break-word;
	position: relative;
	display:inline-grid;
}
.user_image{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 5px;
	bottom: 5px;
}
#descriere{
	position: absolute;
	margin-top: -25px;
	left: 20px;
}
.complete_task{
    display: inline-block;
    width: 150px;
    margin: 0 auto;
    padding: 8px;
    font-size: 18px;
    border: none;
    text-decoration: none;
    background-color: #000000;
    color: #fff;
	margin-top: 50px;
}
.complete_task:hover{
	cursor: pointer;
-transition: all 1s;
background-color: #00520c;
}

#scroll_container_limbaje, #scroll_container_level{
	margin: 15px 0;
	text-align: center;
	border: solid 2px black;
	background-color: red;
	word-wrap: break-word;
	position: relative;

}
#new_line{
	margin-top: 40px;
	display: inline-grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 12px;
	grid-row-gap: 35px;
}

#new_line2{
	background-color: #2d2626;
	margin-top: 40px;
	display: inline-grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	width: 100%;
	padding: 0 10px;
}
